<div class="row-fluid">
  <%= form_for(@list_status,:html => { :class => "form_validation_ttip", :validate => true}) do |f| %>
  <div class="span8">
    <table class="table table-striped table-bordered dTableR" id="new-status" data-source="<%= new_list_status_url(format: "json") %>">
      <thead>
        <tr>
          <td></td>
          <td>List Name</td>
          <td>Turf</td>
          <td>Density</td>
          <td>Doors</td>
          <td><%= 2.days.ago.strftime("%m/%d") %></td>
          <td><%= 1.day.ago.strftime("%m/%d") %></td>
          <td><%= Time.zone.now.strftime("%m/%d") %></td>
          <td><%= 1.day.from_now.strftime("%m/%d") %></td>
          <td><%= 2.days.from_now.strftime("%m/%d") %></td>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <div class="span3 form-sidebar">
    <ul>
      <li><input type="checkbox" id="selectall" name="selectall"> Select All Checkboxes</li>
      <li>&nbsp;</li>
      <li>Checkout date</li>
      <li><%= f.text_field :date, {:id => "dp1", :value => Time.zone.now.strftime("%m/%d/%Y"), :format => :display} %></li>
      <li></li>
      <li>Organization</li>
      <li><%= f.collection_select :organization_id, Organization.order(:id), :id, :organization_name, :prompt => true %></li>
      <li></li>
      <li><%= f.submit :submit, :class => 'btn btn-success' %></li>
    </ul>
  </div>
</div>
<div class="spacer">&nbsp;</div>
<% end %>

