<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
  <title><%= content_for?(:title) ? yield(:title) : "ListMaster" %></title>
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon' %>
</head>
<body>

<div class='frontLayer'>
<header class="borBox row-fluid pat-lightwool">
  <div class="span2 pull-left">
    <%= link_to image_tag("logo.png"), root_url %>
  </div>
  <div class="span7 pull-left">
    <br/>
  </div>
  <div class="span3 pull-right">
    <div class="loginBox">
      <button class="btn btn-info droppy-toggle right" type='button' data-toggle='droppy'><i class='icon-white icon-user'></i> Corey Kuwanoe&nbsp;&nbsp;<b class='caret'></b></button>
      <ul class="dropdown-menu droppy-menu" id="uOpsL">
        <li><a href="#"><i class='icon-user'></i> Profile</a></li>
        <li><a href="#" data-target='settingsModal'><i class='icon-cog'></i> Settings</a></li>
        <li class='divider'></li>
        <li><a href="#" data-target='loginModal'><i class='icon-share-alt'></i> Log In</a></li>
        <li><a href="#" data-target='registerModal'><i class='icon-bookmark'></i> Register</a></li>
        <li class='divider'></li>
        <li><a href="#"><i class='icon-question-sign'></i> Help</a></li>
      </ul>
    </div>
  </div>


</header>
<section class="subHead">
  <section class="row-fluid subHeadInner borBox">
    <div class='span12'>

      <h3 class='pull-left welcome'></h3>
      <div class='form-horizontal centerOnPage'><h3 class="welcome">Dashboard</h3></div>
      <ul class="bcrumbs pull-right">
      </ul>
    </div>
  </section>
</section>
<section class="container-fluid" id="mainContainer">
  <div class="row-fluid">
    <div class="span2 sideBar">
      <ul>
        <li data-link="home" class="active"><figure><i class='icon-home'></i> <div class='menuText'><%= link_to "Home", root_url %></div></figure></li>
        <li data-link="features"><figure><i class='icon-new-check'></i> <div class='menuText'><%= link_to "Assign Lists", new_list_status_path %></div></figure></li>
        <li data-link="dashboard"><figure><i class='icon-new-dashboard'></i> <div class='menuText'>Dashboard</div></figure></li>
        <hr/>
        <li data-link='portfolio'><figure><i class='icon-th-large'></i> <div class='menuText'>Portfolio</div></figure></li>
        <li data-link="Blog"><figure><i class='icon-th-list'></i> <div class='menuText'>Blog</div></figure></li>
        <hr/>
        <li data-link="none" class='dropper'>
          <figure><i class='icon-th'></i> <div class='menuText'>Gallery&nbsp;›</div></figure>
          <ul class='subSide'>
            <li data-target='photos'><i class='icon-camera'></i> <div class='menuText'>Photos</div></li>
            <li data-target='videos'><i class='icon-facetime-video'></i> <div class='menuText'>Videos</div></li>
            <li data-target='books'><i class='icon-book'></i> <div class='menuText'>Books</div></li>
          </ul>
        </li>
        <!-- THIS WILL ALSO BE ENABLED IN NEXT VERSION -->
        <!-- <li data-link="social"><figure><i class='icon-comment'></i> <div class='menuText'>Social</div></figure></li>    -->
        <hr/>
        <!-- THIS WILL BE ENABLED IN NEXT VERSION, ITS NOT OF MUCH IMPORTANCE THOUGH... JUST A LIST OF FEATURES IN THIS THEME -->
        <!--li data-link="none" class='dropper'>
          <figure><i class='icon-gift'></i> <div class='menuText'>Specials&nbsp;›</div></figure>
          <ul class='subSide'>
            <li data-target='quicksand'><i class='icon-star-empty'></i> <div class='menuText'>Quicksand</div></li>
            <li data-target='boxwidget'><i class='icon-star-empty'></i> <div class='menuText'>Box-Widget</div></li>
            <li data-target='googlecharts'><i class='icon-star-empty'></i> <div class='menuText'>Google Charts</div></li>
            <li data-target='flotr2charts'><i class='icon-star-empty'></i> <div class='menuText'>Flotr2 Charts</div></li>
            <li data-target='scrolleffects'><i class='icon-star-empty'></i> <div class='menuText'>Scroll Effects</div></li>
            <li data-target='additionalfeatures'><i class='icon-star-empty'></i> <div class='menuText'>Additional Features</div></li>

          </ul>
        </li>
        <hr/-->

        <li data-link="members"><figure><i class='icon-new-group'></i> <div class='menuText'>Members</div></figure></li>
        <li data-link="contact"><figure><i class='icon-envelope'></i> <div class='menuText'>Contact</div></figure></li>
      </ul>
    </div>
    <div class="span10 content borBox">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
  </div>
</section>
<footer>
  <div class="container-fluid" id="footMain">
    <div class="row-fluid">
      <div class="span6">
        <div class="pull-left">
          <h6></h6>
        </div>
      </div>
      <div class="span6">
        <div class="pull-right">
          <h6>Obama for America</h6>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>


 <!-- ##### MODALS #####- -->
<div class='modal fade hide' id="thisModal">

</div>

<!-- ### BACKGROUND DIV -->
<div class='bg'>
</div>
<%= javascript_include_tag "application" %>
<%= yield :scripts %>
</body>
</html>
